body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://doctorpfile.com.mx/src/assets/login/img/fondo3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

}



  
.box {
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(-0%, 1%);
  width: 40em;
  height: 38em;
  padding: 50px;
  background: rgba(8, 33, 37, 0.9);
  box-sizing: border-box;
  border-radius: 53px;
}
.box h2 {
  margin: 0 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box .InputBox {
  position: relative;
}
.box .InputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: transparent;
}
.box .InputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  pointer-events: none;
  transition: .5s;
}
.box .InputBox input:focus~label, .box .InputBox input:valid~label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
}
.btn-primary {
  color: #fff;
  background-color: #082125;
  border-color: #082125;
 border-radius: 10px;
}
.btn-primary:hover {
  color: #082125;
  background-color: #fff;
  border-color: #fff;
}
.btn-block {
  display: inline-block;
  width: 50%;
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #082125;
  text-decoration: underline;
}
.card-header{
  padding:.75rem 1.25rem;
  margin-bottom:0}

